In [23]:
class Ligand():
    """Class that stores data about ligands including LigandID, score, SMILES, on bits"""
    def __init__(self, ID, score, SMILES, onbits):
        """
        Initialize ligand object
        Parameters
        ---------
        ID
            Path to csv with ligand info
        score
        SMILES
        onbits
        """
        self._ID = ID
        self._score = score
        self._SMILES = SMILES
        self._onbits = onbits

    @property
    def ID(self):
        return self._ID
    
    @ID.setter
    def ID(self, ID):
        self._ID = ID

    @property
    def score(self):
        return self._score
    
    @score.setter
    def score(self, score):
        self._score = score

    @property
    def SMILES(self):
        return self._SMILES
    
    @SMILES.setter
    def SMILES(self, SMILES):
        self._SMILES = SMILES

    @property
    def onbits(self):
        return self._onbits
    
    @onbits.setter
    def onbits(self, onbits):
        self._onbits = onbits

In [24]:
test = Ligand(0, -1.3, "N#C", "360,489,915")

In [26]:
import pandas as pd
table = pd.read_csv("../ligand_information.csv")

In [27]:
table

,LigandID,Score,SMILES,OnBits
0,0,-1.3,N#C,"360,489,915"
1,1,-1.7,O=N,"53,623,650"
2,2,-1.7,O=C,"332,342,650"
3,4,-2.7,OC#N,"260,291,360,674,790,807"
4,5,-2.7,O=N[O-],"36,650,715,725,967,979"
...,...,...,...,...
8519,8945,58.9,Ic1c(N(C(=O)C)C)c(I)c(C(=O)NC)c(I)c1C(=O)NCC(=...,"8,33,41,54,80,87,128,139,170,197,202,222,316,3..."
8520,8969,44.9,Ic1c(NC(=O)CCOCCOCCOCCOCCC(=O)Nc2c(I)c(C(=O)[O...,"13,41,80,128,180,202,316,356,358,361,381,430,5..."
8521,9053,69.1,Ic1c(N(C(=O)C)CC(O)CN(C(=O)C)c2c(I)c(C(=O)NC[C...,"1,23,33,34,80,128,197,222,227,327,356,407,461,..."
8522,9054,72.1,Ic1c(N(C(=O)C)CC(O)CN(C(=O)C)c2c(I)c(C(=O)NC[C...,"1,23,33,34,80,128,197,222,227,327,356,407,461,..."
8523,9055,73.0,Ic1c(N(C(=O)C)CC(O)CN(C(=O)C)c2c(I)c(C(=O)NC[C...,"1,23,33,34,80,128,197,222,227,327,356,407,461,..."

In [41]:
table.iloc[0]['OnBits'].split(",")

['360', '489', '915']

In [44]:
def get_ligands(n):
    table = pd.read_csv("../ligand_information.csv")
    ligands = {}
    for i in range(n):
        onbits = table.iloc[i]['OnBits'].split(",")
        score = table.iloc[i]['Score']
        smiles = table.iloc[i]['SMILES']
        lig = Ligand(i,score,smiles,onbits)
        ligands[i] = lig
    return ligands

In [45]:
ligands

{0: <__main__.Ligand at 0x7f8ff0e2abe0>,
 1: <__main__.Ligand at 0x7f8ff0e2ae80>,
 2: <__main__.Ligand at 0x7f8ff0e2a190>,
 3: <__main__.Ligand at 0x7f8ff0e2a2e0>,
 4: <__main__.Ligand at 0x7f8ff0e2a9d0>}

In [48]:
for key, value in ligands.items():
    print(key)

0
1
2
3
4

In [50]:
clusters = {}
i = 0
for key, value in ligands.items():
    clusters[key] = i
    i += 1
clusters

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [58]:
import numpy as np

x = np.zeros((10,10))
x[3, 8] = 1
upper = np.triu(x, 1)
idx = np.argmax(upper)
row, col = np.unravel_index(idx, upper.shape)

In [81]:
x

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [70]:
np.unravel_index(np.argmin(upper), upper.shape)

(3, 9)

In [69]:
np.argmin(upper)

39

In [85]:
upper

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1., -1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [72]:
for i in range (3):
    for j in range(3):
        if i == j:
            break
        print(i,j)

1 0
2 0
2 1

In [71]:
len(ligands)

5

In [73]:
x[3, 8]

1.0

In [77]:
set(list(ligands.keys()))

{0, 1, 2, 3, 4}

In [79]:
test = {1:2, 2:2, 3:1}
set(list(test.values()))

{1, 2}

In [80]:
set(test.values())

{1, 2}

In [89]:
row, col = np.unravel_index(np.argmin(x), x.shape)

In [91]:
col

9

In [130]:
clusters = []
for key in ligands.keys():
    clusters.append([key])
clusters

[[0], [1], [2], [3], [4]]

In [112]:
clusters.append([5,6])

In [113]:
num = 5
for i in clusters:
    if num in i:
        print(i)

[5, 6]

In [104]:
l = [1,2]
1 in l

True

In [114]:
print(clusters)

[[0], [1], [2], [3], [4], [5, 6]]

In [115]:
clusters[1]

[1]

In [116]:
found_i = NA

NameError: name 'NA' is not defined

In [117]:
del clusters[0]
clusters

[[1], [2], [3], [4], [5, 6]]

In [131]:
found_i = 0
found_j = 1

In [132]:
clusters[found_i]+= clusters[found_j]
clusters

[[0, 1], [1], [2], [3], [4]]

In [126]:
clusters

[[0], [1], [2], [3], [4]]

In [133]:

del clusters[found_j]
clusters

[[0, 1], [2], [3], [4]]

In [128]:
clusters

[[1], [3], [4], [0, 1]]

In [129]:
del clusters[0,1]

TypeError: list indices must be integers or slices, not tuple